* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: white;
  background-color: #3f2f47;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 32px;
  /* topo sobre/exp/case */
  background: rgba(0, 0, 0, 0.3);
}

/* ------Home-----*/

.links {
  text-align: center;
}

.links a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  padding-bottom: 3px;
  text-decoration: none;
}

.links a:hover {
  color: yellow;
  transition: color 0.2s;
}

/*-----------photo profile-----*/

#photo-profile {
  text-align: center;
  align-items: center;
  padding: 32px;
}

#photo-profile img {
  border-radius: 50px 50px 50px 50px;
  border: 2px solid yellow;
  margin-bottom: 30px;
  height: 300px;
}

#photo-profile h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#photo-profile h2 {
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  margin-top: 2px;
  opacity: 0.8;
}

#adress a {
    border-bottom: 2px solid yellow;
  }
  
#adress a img {
    margin-top: auto;
    height: 20px;
    margin-left: 5px;
  }

#links-contacts a {
  border-bottom: 2px solid yellow;
}

#links-contacts a img {
  /*icones das redes*/
  height: 20px;
  margin-left: 5px;
}
/*---------End Home-----------*/


/*-----Call Resumo-------*/
.resumo {
  background-attachment: fixed;
  background-color: #645862;
  background-image: url(/images/back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: default;
  text-align: center;
  width: 100%;
  
}
.resumo-back {
  padding: 40px 0px;
  background-color: RGBA(15, 5, 20, 0.84);
}
.sub-text {
    text-align: center;
    margin: auto;
}
.sub-text h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eb233c;
  display: inline-block;
  line-height: 35px;
  text-align: left;
}
.sub-button a {
  padding: 12px 35px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px 25px 25px 25px;
  font-size: 15px;
  background-color: #eb233c;
  margin-top: 30px;
  cursor: pointer;
  
}
.sub-button a:hover {
  text-decoration: none;
  color: yellow;
  transition: 0.2ms color;
}
/*-----End Resumo-------*/



/*====== aba Cases - Cards */

.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: #ad9cb6;
}

.card-img-container img {
  width: 100%;
}

.card-content,
.card-info {
  padding: 24px;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*-----------------end ----------*/

/*-----------------resumo cards-----*/
.coluna{
    float: left;
    width: 33.33%;
    max-width: auto;
    max-height: auto;
    width: 374px;
    height: auto;
    
}    
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }